
$background_color: #FDFBF7;
$text_color: #2f2f2f;
$text_muted: #5a544b;
$accent_color: #8b4513;
$author_link_color: #005580;
$spinner_blue: #3498db;
$spinner_gray: #f3f3f3;
$border_color: #e0dcd0;
$input_border: #c5bfb0;

// Typograghy
$font_family_serif: "Libre Baskerville", "Georgia", serif;
$font_family_sans: "Helvetica", sans-serif;
$font_main_content: $font_family_serif;
$font_ui_elements: $font_family_sans;
