@use 'sass:color';
@use "@sass/base/variables" as v;

.card {
  background-color: #fff;
  border: 1px solid v.$border_color;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.03);

  &:hover {
    transform: translateY(-4px);
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.06);
  }
  .book_title {
      font-family: v.$font_family_serif;
      font-size: 1.25rem;
      color: v.$text_color;
      margin-bottom: 12px;
    
    // Handling the "clickable" look here
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: v.$accent_color;
        text-decoration: underline;
      }
  }

  p {
    font-size: 0.95rem;
    margin-bottom: 20px;
    line-height: 1.6;
    color: v.$text_muted; 
    
    .description_txt {
      margin-bottom: auto;
    }
  }

  .author_link {
    color: v.$author_link_color;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline transparent;
    transition: text-decoration 0.2s;

    &:hover {
      text-decoration: underline v.$author_link_color;
    }
  }
}
