@use "@sass/base/variables" as v;

.loader_container{
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loader {
    align-self: center;
    justify-self: center;
    border: 4px solid v.$spinner_gray; 
    border-top: 4px solid v.$spinner_blue; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  /* rotation animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

