@use 'sass:color';
@use "@sass/base/variables" as v;
@use "@sass/base/mixins" as mix;

#show_result_section {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr; // Mobile first
  gap: 25px;
  padding: 0 15px 50px 15px;
  overflow-x: hidden;

  @include mix.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mix.desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

